.label {
    -fx-background-color: #FAFF72;
    -fx-border-color: rgba(0,0,0,0.08);;
    -fx-border-width: 1px;
    -fx-padding: 8 12 8 12;
    -fx-text-fill: black;
}

.user-bubble {
    -fx-background-color: #A7E6FF;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.lars-bubble {
    -fx-background-color: #FAFF72;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.add-label {
    -fx-background-color: #FAFF72;
}

.marked-label {
    -fx-background-color: palegreen;
}

.delete-label {
    -fx-background-color: lightpink;
}

.error-bubble {
    -fx-background-color: #FFEBEE !important;
    -fx-border-color: #FFCDD2 !important;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

